@font-face {
  font-family: MontserratBody;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: OswaldHeadings;
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

/* MOBILE VERSION */

* {
  margin: 0;
  font-family: MontserratBody;
}

body {
  background-color: rgb(242, 242, 255);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tip-main p,
#collegeTips ul li h3,
#collegeTips ul li {
  font-family: OswaldHeadings;
  color: rgb(0, 46, 105);
  font-size: larger;
}

.event-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#collegeTips h2 {
  font-family: OswaldHeadings;
  color: rgb(0, 46, 105);
  font-size: x-large;
}

.title-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vw;
}

.timer-flex {
  display: flex;
  align-items: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-vids {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.timer-box {
  margin: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(0, 74, 173);
  color: white;
}

.event-button {
  background-image: url(../images/events.png);
  background-size: 100%;
}

.news-button {
  background-image: url(../images/news.png);
  background-size: 100%;
}

.tips-button {
  background-image: url(../images/tips.png);
  background-size: 100%;
}

@media screen and (max-width: 600px) {
  .timer-box {
    width: 60px;
    height: 60px;
    font-size: smaller;
  }
}

.title-timer h2 {
  font-family: OswaldHeadings;
  margin-bottom: 10px;
}

.news-title {
  margin-left: 20px;
  margin-bottom: 20px;
}

#timer {
  font-family: OswaldHeadings;
}

.descriptions {
  margin-top: 10%;
}

.padelbutton {
  background-image: url(../images/padel.jpg);
  background-size: cover;
}

.event-images img {
  width: 125px;
  height: 100px;
  margin: 20px;
}

.description {
  padding: 20px;
  text-align: center;
}

.buttons {
  margin-top: 15%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: rgb(0, 46, 105);
  opacity: 0.8;
  font-size: xx-large;
}

.buttons a {
  text-decoration: none;
}

#senioritis h2 {
  font-size: xx-large;
}

.main-event-page {
  margin-bottom: 50%;
}

.event-img {
  width: 80%;
  height: 50vw;
  object-fit: cover;
  border-radius: 20px;
}

.no-event {
  margin-bottom: 100px;
}

.eventh1 {
  font-family: OswaldHeadings;
  font-size: 50px;
}

.locationTime {
  display: flex;
}

.locationTime p {
  margin: 10px;
}

.mainEvent-title {
  font-family: OswaldHeadings;
}

.bigEventButton {
  width: 60vw;
  margin-top: 5vw;
  justify-self: center;
  align-self: center;
}

header #links-flex {
  display: none;
}

#overlay form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2vw;
}

#overlay form label {
  margin-top: 15px;
  margin-bottom: 3px;
}

#overlay form .center {
  margin: auto;
}

#overlay form textarea {
  margin-bottom: 30px;
  resize: none;
}

.error {
  color: red;
}

#success {
  color: rgb(19, 255, 19);
}

.news-title {
  font-family: OswaldHeadings;
  font-size: xx-large;
}

.news-widget {
  display: flex;
  padding: 2vw;
  margin: 10px;
  align-items: center;
  width: 90%;
  background-color: rgb(138, 138, 255);
  border-radius: 20px;
  margin-bottom: 170%;
}

.news-text {
  margin-left: 20px;
  font-size: small;
}

.news-widget img {
  border-radius: 20px;
  width: 25vw;
}

.futureEvents {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vw;
}

.futureEvents h2 {
  align-self: center;
}

.futureButtons {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 90%;
}

.futureButtons a .button {
  color: white;
  background-color: rgb(0, 46, 105);
}

.pastEvents {
  margin-top: 0;
}

#senioritis,
#collegeTips {
  padding: 30px;
}

#senioritis h1,
#collegeTips h1 {
  font-size: 50px;
  font-family: OswaldHeadings;
}

#senioritis h2 {
  font-family: OswaldHeadings;
}

#collegeTips {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #collegeTips h1 {
    font-size: xx-large;
  }

  #collegeTips h2 {
    font-size: large;
  }

  .event-videos video {
    width: 320px;
    height: 240px;
  }

  .sub-vids video {
    width: 150px;
    height: fit-content;
  }

  .summer-todo-list li {
    font-size: smaller;
  }

  .mainEvent-title {
    font-size: 20px;
  }

  .moment-h2 {
    font-size: smaller;
    margin-left: 70px;
  }
}

/* TABLET VERSION */

@media screen and (min-width: 600px) {
  header .fa-bars {
    display: none;
  }

  .event-videos video {
    width: 600px;
    height: fit-content;
  }

  .sub-vids video {
    width: 275px;
    height: fit-content;
  }

  header #links-flex {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .title-timer h2 {
    font-size: xx-large;
  }

  #timer {
    font-size: x-large;
  }

  .event-images img {
    width: fit-content;
    height: 300px;
    margin: 30px;
  }

  .description {
    font-size: larger;
    padding-left: 100px;
    padding-right: 100px;
  }

  .buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .buttons .button {
    width: 250px;
    height: 250px;
  }

  .news-widget {
    display: flex;
    padding: 20px;
    margin: 10px;
    align-items: center;
    width: 90%;
    background-color: rgb(138, 138, 255);
    border-radius: 20px;
    margin-bottom: 80%;
  }

  .news-text {
    margin-left: 20px;
    font-size: medium;
  }

  .news-widget img {
    border-radius: 20px;
    width: 100px;
  }

  .main-event-page {
    margin-bottom: 30%;
  }
}

/* DESKTOP VERSION */

@media screen and (min-width: 768px) {
  header #links-flex {
    width: 40%;
    margin-right: 50px;
  }

  .buttons .button {
    width: 300px;
    height: 300px;
  }

  .title-timer {
    margin-top: 10%;
  }

  .title-timer h2 {
    font-size: 5vw;
  }

  #timer {
    font-size: x-large;
  }

  .bigEventButton {
    height: 25vw;
  }

  .news-title {
    margin-left: 4vw;
  }

  .news-widget {
    margin-bottom: 66%;
  }

  .event-img {
    width: 70%;
    height: 20vw;
    border-radius: 20px;
  }

  #collegeTips {
    margin-bottom: 15vw;
  }

  .tip-main {
    padding: 50px;
  }
}
