/* MOBILE VERSION */

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.title-timer {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title-timer h2 {
  margin-bottom: 10px;
}

#timer {
  font-weight: normal;
}

.description {
  margin-top: 20%;
  padding: 20px;
  text-align: center;
}

.buttons {
  margin-top: 15%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
}

header #links-flex {
  display: none;
}

#overlay form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2vw;
}

#overlay form label {
  margin-top: 15px;
  margin-bottom: 3px;
}

#overlay form .center {
  margin: auto;
}

#overlay form textarea {
  margin-bottom: 30px;
  resize: none;
}

.error {
  color: red;
}

#success {
  color: rgb(19, 255, 19);
}

.news-widget {
  display: flex;
  padding: 2vw;
  margin: 10px;
  align-items: center;
  width: 90%;
  background-color: rgb(138, 138, 255);
  border-radius: 20px;
}

.news-text {
  margin-left: 20px;
  font-size: small;
}

.news-widget img {
  border-radius: 20px;
  width: 20vw;
}

/* TABLET VERSION */

@media screen and (min-width: 600px) {
  header .fa-bars {
    display: none;
  }

  header #links-flex {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .title-timer h2 {
    font-size: xx-large;
  }

  #timer {
    font-size: x-large;
  }

  .description {
    font-size: larger;
    padding: 100px;
  }

  .buttons {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
  }

  .buttons .button {
    width: 250px;
    height: 250px;
  }

  .news-widget {
    display: flex;
    padding: 20px;
    margin: 10px;
    align-items: center;
    width: 90%;
    background-color: rgb(138, 138, 255);
    border-radius: 20px;
  }

  .news-text {
    margin-left: 20px;
    font-size: medium;
  }

  .news-widget img {
    border-radius: 20px;
    width: 100px;
  }
}

/* DESKTOP VERSION */

@media screen and (min-width: 768px) {
  header #links-flex {
    width: 40%;
    margin-right: 50px;
  }

  .buttons .button {
    width: 300px;
    height: 300px;
  }

  .title-timer {
    margin-top: 20%;
  }

  .title-timer h2 {
    font-size: 5vw;
  }

  #timer {
    font-size: x-large;
  }
}
